.container {
    color: white;
    padding: 10px;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

:host >>> 

.mat-figure {
    align-items: start !important;
}

.mat-form-field {
    width: 100%;
}
