.container {
    color: white;
    height: 100%;
    padding: 10px;
    
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
  }

.room {
    display: flex;
}

.main {
    flex-grow: 1;
}

.users {
    flex: 0 0 300px;
}